a {
  text-decoration: none;
}
h1 {
  font-size: 1rem;
  font-weight: 400;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
p a {
  color: skyblue;
}
p span.course-text {
  font-size: 1.25rem;
  font-weight: 300;
}
p span.course-description {
  font-size: 1.125rem;
}
body,
html {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
}

.nav-desktop {
  display: flex;
  align-items: center;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
  justify-content: space-between;
}
.nav-desktop-left {
  display: flex;
  align-items: center;
}

.nav-desktop-left-logo {
  height: 32px;
  width: auto;
}

.nav-desktop-right ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-mobile ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
}
.hero-desktop {
  display: flex;
  background-color: rgb(200, 200, 200);
}
.hero-desktop-img-wrapper {
  display: flex;
  flex: 0 0 60%;
  padding: 32px 24px;
}
.hero-desktop-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero-desktop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 32px;
  margin: 24px 16px 32px 0px;
}
.button-start {
  padding: 8px 24px;
  background-color: rgb(91, 91, 91);
  color: white;
  text-align: center;
}
.hero-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 200, 200);
}
.hero-mobile-img-wrapper {
  width: 100%;
}
.hero-mobile-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero-mobile-content {
  display: flex;
  flex-direction: column;
  margin: 32px 16px;
  justify-content: stretch;
}
.hero-mobile-content p {
  margin-top: 32px;
  margin-bottom: 24px;
}
.information-desktop {
  display: flex;
}
.information-desktop-left {
  padding: 32px 24px;
  flex: 0 0 60%;
}
.information-desktop-left-wrapper {
  width: 100%;
}
.information-desktop-left-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.information-desktop-left-content {
  padding: 32px 0px;
}
.information-desktop-left-content p {
  padding-top: 24px;
}
.information-desktop-right {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  flex: 0 0 40%;
}
.information-desktop-right-box {
  display: flex;
  padding: 16px;
}
.information-desktop-right-box-img-wrpper {
  flex: 0 0 35%;
}
.information-desktop-right-box-img-wrpper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.information-desktop-right-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left:16px;
}
.information-mobile {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 32px 16px;
  justify-content: space-evenly;
  gap: 64px;
}

.information-mobile-box-img-wrapper {
  width: 100%;
}
.information-mobile-box-img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.information-mobile-box-content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 16px;
  gap: 8px;
}
.course-desktop {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  padding: 32px 72px;
  gap: 32px;
  align-items: center;
}
.course-desktop-box {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.course-desktop-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: calc((100% - 64px) / 3);
  height: auto;
}
.course-desktop-card-wrapper-img {
  width: 100%;
}
.course-desktop-card-wrapper-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.course-desktop-card-content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
  gap: 8px;
}

.course-mobile {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 32px 16px;
  gap: 16px;
  align-items: center;
}
.course-mobile-content ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}
.course-mobile-content ul li {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(200, 200, 200);
}

.thesis-desktop {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px 24px;
  gap: 32px;
  align-items: center;
}
.thesis-desktop-content {
  display: flex;
  gap: 24px;
}
.thesis-desktop-content-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 60%;
}
.thesis-desktop-content-left-video-wrapper {
  width: 100%;
}
.thesis-desktop-content-left-video-wrapper video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.thesis-desktop-content-left-content h3 {
  padding-bottom: 8px;
}
.thesis-desktop-content-right {
  display: flex;
  flex-direction: column;
}
.thesis-desktop-content-right-card {
  display: flex;
  align-items: center;
}
.thesis-desktop-content-right-card-img-wrapper {
  flex: 0 0 35%;
  padding: 16px;
}
.thesis-desktop-content-right-card-img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.thesis-desktop-content-right-card-content p {
  padding-top: 8px;
}

.thesis-mobile {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 24px;
  gap: 16px;
  align-items: center;
}
.thesis-mobile-video-wrapper video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-desktop {
  display: flex;
  justify-content: space-between;
  margin: 16px 24px;
}
.footer-desktop-right ul {
  display: flex;
  gap: 16px;
}
.footer-mobile {
  display: block;
  margin: 16px 24px;
}
div.information-desktop-right-box:hover,
div.thesis-desktop-content-right-card:hover {
  background-color: rgb(200, 200, 200);
}

@media only screen and (min-width: 576px) {
  .nav-desktop {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .hero-desktop {
    display: flex;
  }
  .hero-mobile {
    display: none;
  }
  .information-desktop {
    display: flex;
  }
  .information-mobile {
    display: none;
  }
  .course-desktop {
    display: flex;
  }
  .course-mobile {
    display: none;
  }
  .thesis-desktop {
    display: flex;
  }
  .thesis-mobile {
    display: none;
  }
  .footer-desktop {
    display: flex;
  }
  .footer-mobile {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .hero-desktop {
    display: none;
  }
  .hero-mobile {
    display: flex;
  }
  .information-desktop {
    display: none;
  }
  .information-mobile {
    display: flex;
  }
  .course-desktop {
    display: none;
  }
  .course-mobile {
    display: flex;
  }
  .thesis-desktop {
    display: none;
  }
  .thesis-mobile {
    display: flex;
  }
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
}
